@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face{
    font-family: Satoshi;
    src:url(../Images/Satoshi-Variable.ttf)
}

.Banner_section {
    background-image: url("../Images/banner_bg.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.banner_title {
    font-family: "Oswald", sans-serif;
    font-size: 84px;
    font-weight: 600;
    line-height: 95px;
    color: #1A022C;
    text-align: left;
    max-width: 41%;
    margin-bottom: 26px;
}

.banner_title_span {
    font-family: "Oswald", sans-serif;
    font-size: 84px;
    font-weight: 600;
    line-height: 95px;
    color: #FF6338;
    text-align: left;
}

.banner_info {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 45%;
    margin-bottom: 28px;
}

.banner_btn {
    padding: 18px 45px 18px 45px;
    border-radius: 16px;
    border: none;
    background: #FF6338;
    box-shadow: 0px 10px 18px 0px #00000024;
}

.btn_text {
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.02em;
    margin: 0px; 
    color: #ffffff;   
}

@media(min-width:320px) and (max-width:767px){

    .Banner_section {
        padding: 100px 12px;
    }

    .banner_title {
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        max-width: 94%;
        margin-bottom: 12px;
    }
    
    .banner_title_span {
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
    
    .banner_info {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        max-width: 90%;
        margin-bottom: 12px;
    }

    .banner_btn {
        padding: 10px 30px 10px 30px;
    }
    
    .btn_text {
        font-size: 14px;
    }
}